{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section id="login-form-section">
    <div id="login-form-section--inner">
        <div class="container">
            <div class="row justify-content-center py-5">
                <div class="col-6">
                    <h1 class="text-center">登录</h1>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_username">用户名</label>
                            <input type="text" name="username" class="form-control" id="id_username"
                                placeholder="用户名">
                        </div>
                        <div class="form-group">
                            <label for="id_password">密码</label>
                            <input type="password" name="password" class="form-control" id="id_password"
                                placeholder="密码">
                        </div>
                        <input type="hidden" name="next" value="{{ next }}">
                        <button type="submit" class="btn btn-outline-info float-right">登录</button>
                    </form>
                    <a class="d-block" href="{% url 'account:register'  %}">
                        没有帐户? <b>现在注册</b>
                    </a>
                    <a class="d-block" href="/password-reset/">
                        忘记密码?
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}