{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block extra_header %}
{% endblock %}

{% block dashboard-body %}
<form action="." method="POST" class="admission-form d-block" enctype='multipart/form-data'>
  <div class="alert alert-warning">
    <p>先填写必须项，然后点击<em>提交学生信息</em></p>
  </div>
  {% csrf_token %}
  {% crispy form %}
  <input type="submit" value="提交" class="btn btn-dark">
</form>
{% endblock %}

{% block extrajs %}
  <script>
    // Select image
    $('input[type="file"]').change(function(e){
      const fileName = e.target.files[0].name;
      $('.custom-file-label').html(fileName);
    });
  </script>
{% endblock %}
